#about_me_mobile {
  width: 100%;
}

#about_me_desktop {
  display: none;
}

.about_me_header {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 2.2em;
  font-weight: 300;
  color: #2196f3;
}

#about_me_header_first {
  padding-top: 1em;
}

#about_me_header_last {
  padding-bottom: 1em;
}

#about_me_pic_container {
  width: 75%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  padding-bottom: 2em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#about_me_pic {
  width: 100%;
}

#about_me_summary {
  width: 90%;
  margin: 0 auto;
  padding-top: .5em;
  padding-bottom: 3em;
  font-size: 1em;
  font-weight: 300;
  color: #4d4d4d;
}

#hello {
  font-size: 2em;
  color: #383838;
}

/* Responsive design */
/* Mobile */
@media screen and (min-width: 400px) {
  .about_me_header {
    font-size: 2.4em;
  }
  #about_me_summary {
    font-size: 1.02em;
  }
}

/* Desktop */
@media screen and (min-width: 650px) {
  #about_me_mobile {
    display: none;
  }

  #about_me_desktop {
    display: block;
    width: 100%;
    min-height: 100vh;
  }
  
  #about_me_flex_container {
    display: flex;
    width: 60%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    padding-bottom: 4em;
    justify-content: center;
    align-items: center;
  }

  .about_me_header {
    margin-left: 1em;
  }

  #about_me_header_first {
    padding-top: 0;
  }

  #about_me_header_last {
    padding-bottom: .5em;
  }
  
  #about_me_pic_container {
    width: 350px;
    max-width: 450px;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  
  #about_me_summary {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    padding-bottom: 0;
  }
  
  #hello {
    font-size: 2em;
  }
}

@media screen and (min-width: 800px) {
  .about_me_header {
    font-size: 2.6em;
  }
  
  #about_me_pic_container {
    width: 450px;
  }
  
  #about_me_summary {
    font-size: 1.1em;
    margin-right: 0;
    margin-left: 2.7em;
  }
}
