#about_me {
  width: 100%;
  background-color: white;
}

.about_me_header {
  color: #2196f3;
  font-weight: 300;
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 0;
  
  margin-top: .4em;
  opacity: 0;
}

#about_me_header_first {
  padding-top: 1em;
}

#about_me_header_last {
  padding-bottom: 1em;
}

#about_me_pic_container {
  width: 75%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  margin-bottom: 4em;

  opacity: 0.01;
  margin-top: 1em;
}

#about_me_pic {
  width: 100%;

  opacity: 0.01;
  margin-top: 1em;
}

#about_me_summary {
  font-size: 1em;
  font-weight: 300;
  margin: 0 auto;
  color: #505050;
  width: 90%;
  padding-bottom: 3em;

  opacity: 0;
  margin-top: 1em;
}

#hello {
  font-size: 2em;
}

/* Mobile devices only */
@media only screen and (min-width: 350px) {
  .about_me_header {
    font-size: 2.6em;
  }
  #about_me_header_first {
    padding-top: .7em;
  }
  #about_me_header_last {
    padding-bottom: 1.2em;
  }

  #about_me_summary {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 400px) {

}

@media screen and (min-width: 450px) {

}

@media screen and (min-width: 600px) {
  .about_me_header {
    font-size: 3em;
  }
  #about_me_summary {
    font-size: 1.3em; 
  }
}
