#about_me_mobile {
  width: 100%;
  background-color: white;
}

#about_me_desktop {
  display: none;
}

.about_me_header {
  color: #2196f3;
  font-weight: 300;
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

#about_me_header_first {
  padding-top: 1em;
}

#about_me_header_last {
  padding-bottom: 1em;
}

#about_me_pic_container {
  width: 75%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  margin-bottom: 4em;
}

#about_me_pic {
  width: 100%;
}

#about_me_summary {
  font-size: 1em;
  font-weight: 300;
  margin: 0 auto;
  color: #505050;
  width: 90%;
  padding-bottom: 3em;
}

#hello {
  font-size: 2em;
}

/* Responsive design */
@media screen and (min-width: 400px) {
  .about_me_header {
    font-size: 2.4em;
  }
  #about_me_summary {
    font-size: 1.02em;
  }
}

@media screen and (min-width: 800px) {
  #about_me_mobile {
    display: none;
  }

  #about_me_desktop {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: white
  }
  
  #about_me_flex_container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .about_me_header {
    color: #2196f3;
    font-weight: 300;
    font-size: 2.6em;
    text-align: center;
    margin-left: 1em;
  }

  #about_me_header_first {
    padding-top: 0;
  }

  #about_me_header_last {
    padding-bottom: .5em;
  }
  
  #about_me_pic_container {
    max-width: 450px;
    width: 450px;
    margin: 0;
    padding: 0;
  }
  
  #about_me_pic {
    width: 100%;
  }
  
  #about_me_summary {
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 2em;
    padding-bottom: 0;
    color: #505050;
  }
  
  #hello {
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) {
  #about_me_mobile {
    display: none;
  }

  #about_me_desktop {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: white
  }
  
  #about_me_flex_container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .about_me_header {
    color: #2196f3;
    font-weight: 300;
    font-size: 2.6em;
    text-align: center;
    margin-left: 2em;
  }

  #about_me_header_first {
    padding-top: 0;
  }

  #about_me_header_last {
    padding-bottom: .5em;
  }
  
  #about_me_pic_container {
    max-width: 450px;
    width: 450px;
    margin: 0;
    padding: 0;
  }
  
  #about_me_pic {
    width: 100%;
  }
  
  #about_me_summary {
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 4em;
    padding-bottom: 0;
    color: #505050;
  }
  
  #hello {
    font-size: 2em;
  }
}
