#landing_pic_container {
  width: 100%; 
  height: 100vh;
  text-align: center; 
  overflow: hidden; 
  background-color: #3B3B3B;
  margin: 0;
}

#landing_pic {
  position: relative; 
  left: 100%; 
  height: 100%;
  margin-left: -380%; 
  width: auto;
  vertical-align: top;
  transform: scale(1.6);
  /* display: none; */
  filter: brightness(78%);
}

#landing_intro {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 1.7em;
  margin: 0;
  font-weight: 400;

  opacity: 0;
}

#landing_name {
  position: absolute;
  top: 53.5%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 4.5em;
  margin: 0;
  display: none;
}

#landing_arrow_holder {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 90%;
  display: none;
}

#landing_arrow_holder i {
  transform: scale(1.6);
}


/* Mobile devices only */
@media only screen and (min-width: 350px) {
  #landing_pic {
    margin-left: -350%;
  }
  #landing_intro {
    font-size: 1.8em;
  }

  #landing_name {
    font-size: 5em;
  }
}

@media screen and (min-width: 400px) {
  #landing_pic {
    margin-left: -340%;
  }
}

@media screen and (min-width: 450px) {
  #landing_pic {
    transform: scale(1.5);
    margin-left: -300%;
    top: 0;
  }
}

@media screen and (min-width: 600px) {
  #landing_pic {
    transform: scale(1.5);
    margin-left: -200%;
    top: 0;
  }

  #landing_intro {
    font-size: 2.2em;
  }
  #landing_name {
    font-size: 7em;
    font-weight: 700;
  }
}