#landing_pic_container {
  width: 100%; 
  height: 100vh;
  text-align: center; 
  overflow: hidden; 
  background-color: #3B3B3B;
  margin: 0;
}

#landing_pic {
  position: relative; 
  left: 100%; 
  height: 100%;
  margin-left: -318%; 
  width: auto;
  vertical-align: top;
  transform: scale(1.6);
  display: none;
  filter: brightness(78%);
}

@media screen and (min-width: 550px) {
  #landing_pic {
    transform: scale(1.5);
    margin-left: -200%;
    top: 0;
  }
}

#landing_intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 24px;
  margin: 0;
  font-weight: 400;
  display: none;
}

#landing_left_line {
  display: none;
  position: absolute;
  top: 51.5%;
  left: 71.5%;
  width: 16%;
  border-bottom: 4px solid #1e88e5;
}

#landing_right_line {
  display: none;
  position: absolute;
  top: 51.5%;
  right: 70.5%;
  width: 16%;
  border-bottom: 4px solid #1e88e5;
}

#landing_name {
  position: absolute;
  top: 54%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 70px;
  margin: 0;
  display: none;
}

#landing_arrow_holder {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 86%;
  display: none;
}

#landing_arrow_holder i {
  transform: scale(1.3);
}