#projects_mobile {
  background-color: #2196f3;
}

#projects_desktop {
  background-color: #2196f3;
  display: none;
  width: 100%;
}

#projects_header {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2em;
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  color: white;
}

.projects_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project {
  position: relative;
  max-width: 650px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.project_img {
  display: block;
  width: 100%;
  
  transition: filter .2s;
}

.project_overlay_off {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  
  transform: scale(0);
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
}

.project_overlay_on {
  transform: scale(1);
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
}

.darken_image {
  filter: brightness(35%);
}

.overlay_container {
  position: relative;
  top: 35%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
  transform: translateY(-50%);
}

.project_name {
  width: 4em;
  margin-left: auto; 
  margin-right: auto;  
  margin-bottom: .5em;
  padding-bottom: .4em;
  font-size: 1.5em;
  font-weight: 200;
  color: white;
  border-bottom: 2px solid #2196f3;
}

.project_description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
}

.project_button {
  width: 5em;
  margin-top: 1.4em;
  margin-left: auto;
  margin-right: auto;
  padding: .4em .5em;
  text-align: center;
  background-color: #2196f3;
  color: white;
  /* color: white; */
  /* border: 1px solid white; */
  cursor: pointer;  
  
  transition: background-color .25s ease-in-out;
}

.project_button a {
  color: white;
  text-decoration: none;
}

.project_button:hover {
  background-color: #2196f3;
}


#github_button_container_mobile {
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
}

#github_button_mobile {
  display: block;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  padding: .4em .5em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  color: #2196f3;
  background-color: white;
  /* border: 2px solid white; */
  cursor: pointer;  

  transition-duration: .25s;
}

#github_button_mobile:hover {
  background-color: white;
  color: #2196f3;
}

/* Responsive Design */
/* Mobile */
@media only screen and (min-width: 350px) {
  .project_name {
    font-size: 1.75em;
  }
  .project_description {
    font-size: 1.15em;
  }
  #github_button {
    font-size: 1.05em;
  }
}

@media screen and (min-width: 400px) {
  .overlay_container {
    top: 38%;
  }
}

@media screen and (min-width: 450px) {
  #projects_header {
    font-size: 2.2em;
  }
  .project_name {
    font-size: 2em;
  }

  .project_description {
    font-size: 1.25em;
  }

  #github_button {
    font-size: 1.3em;
  }
}

/* Desktop */
@media screen and (min-width: 650px) {
  #projects_header {
    font-size: 2.4em;
    padding-top: 2em;
  }

  #projects_mobile {
    display: none;
  }

  #projects_desktop {
    display: block;
  }

  #projects_container_desktop {
    display: flex;
    width: 100%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .project_desktop {
    position: relative;
    max-width: 400px;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
  }

  .project_img_desktop {
    display: block;
    width: 100%;
    
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
  } 

  .project_overlay_desktop {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    transform: translate(-50%, -50%);
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
  }

  .project_text_desktop {
    transition-duration: .25s;
    transform: scale(0);
  }

  .project_name_desktop {
    width: 4em;
    margin-left: auto; 
    margin-right: auto;  
    margin-bottom: .2em;
    padding-bottom: .4em;
    font-size: .9em;
    font-weight: 200;
    color: white;
    border-bottom: 1px solid #2196f3;
  }

  .project_description_desktop {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: .6em;
    color: white;
  }

  #github_button_container_desktop {
    width: 100%;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  #github_button_desktop {
    display: block;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    padding: .4em .5em;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: #2196f3;
    border: 2px solid white;
    cursor: pointer; 
     
    transition-duration: .25s;
  }

  /* Hover stuff */
  .project_desktop:hover .project_text_desktop {
    transform: scale(1);
  }

  .project_image_desktop:hover {
    filter: brightness(30%);
  }

  .project_desktop:hover .project_img_desktop {
    filter: brightness(30%);
    transform: scale(1.1);
  }

  #github_button_desktop:hover {
    background-color: white;
    color: #2196f3;
  }
}

@media screen and (min-width: 700px) {
  .project_name_desktop {
    margin-bottom: 0;
    padding-bottom: .2em;
    font-size: 1em;
  }

  .project_description_desktop {
    margin-top: .5em;
    font-size: .8em;
  }
}


@media screen and (min-width: 800px) {
  .project_name_desktop {
    margin-bottom: .3em;
    font-size: 1.4em;
    border-bottom: 2px solid #2196f3;
  }

  .project_description_desktop {
    font-size: .9em;
  }
}

@media screen and (min-width: 900px) {
  .project_name_desktop {
    font-size: 1.4em;
    margin-bottom: .3em;
  }

  .project_description_desktop {
    font-size: 1em;
  }
}

@media screen and (min-width: 1000px) {
  .project_name_desktop {
    font-size: 1.5em;
    margin-bottom: .5em;
    padding-bottom: .3em;
  }

  .project_description_desktop {
    font-size: 1.1em;
  }
}
