body {
  margin: 0;
  font-family: Muli;
}

/* LATEST PROJECTS */
#latest_projects {
  width: 100%;
  background-color: #2196f3;
}

#latest_projects_title {
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 1.2em;
  color: white;
}

.projects_container {
  width: 100%;
}

.project {
  width: 100%;
  position: relative;
  margin: 0;
  text-align: center;
}

.project_img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-left: 0;
  margin-right: 0;
  transition: filter .2s;
}

.project_img:hover {
  filter: brightness(50%);
}

.project_text {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-weight: 200;
  font-size: 1.5em;
  margin: 0;
  border-bottom: 1px solid white;
  padding-bottom: .4em;
}

.project_line {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  width: 15%;
  /* border-top: 4px solid #1e88e5; */
  border-top: 1px solid white;
}

.project_text_desc {
  display: none;
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1em;
}


.project_button {
  display: none;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  text-align: center;
  width: 8em;
  background-color: white;
  color: black;
  font-size: .8em;
  border-color: #232323;
  border-width: 1px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
}

.project:hover + .project_button {
  opacity: 1;
}

.project_button:hover {
  background-color: #232323;
  color: white;
  outline: none;
}

#github_button_container {
  width: 100%; 
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}

#github_button {
  margin: 0 auto;
  
}

.github_button:focus{ 
  background-color: #4dd0e1;
}

.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: rgba(212, 212, 212, 1);
 }



/* More projects button */
/* #recentProjectsMoreButton {
  font-family: 'Muli', sans-serif;;
  background-color: white;
  color: black;;
  font-size: 1.5em;
  border-color: #232323;
  border-width: 1px;
  padding: 14px 25px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-top: 2em;
}

#recentProjectsMoreButton:hover {
  background-color: #333333;;
  color: white;
} */




/* LATEST PROJECTS */

/* EXPERIENCES */

#experiences {
  width: 100%;
  background-color: white;
}

#experiences_header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 1.2em;
  font-size: 28px;

  font-weight: 300;
}

#experience_line {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  /* border-top: 4px solid #1e88e5; */
  border-top: 1px solid rgba(0, 0, 0, 0.75);
}

.experience {
  width: 80%;
  margin: 1em auto 1em auto;
  max-width: 600px;
  text-align: center;
  margin-bottom: 5em;
}
.experience_img {
  width: 100%;
  border-radius: 25px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

}

.experience_text_container {
  text-align: left;
}

.experience_title {
  font-size: 22px;
  margin-top: 1em;
  margin-bottom: 0;
  color: #2196f3;
}

.experience_position {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(94, 149, 22);
  font-weight: 700;
}

.experience_location {
  font-size: 15px;
  font-weight: 700;
  margin-top: .5em;
  margin-bottom: 0;
}

.experience_summary {
  font-size: 15px;
  margin-top: 1em;
  color: #50555c;
  font-weight: 100;
}

/* EXPERIENCES */



/* FOOTER */
#footer {
  text-align: center;
  color: white;
  height: 12em;
  background-color: #3B3B3B;
  padding-top: .5em;
  width: 100%;
}

#footer1 {
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}

#footer2 {
  margin-top: -.5em;
  font-weight: 700;
  font-size: 22px;
}

#footer2 span {
  color: #2196f3;
}

#footer3 {
  margin-top: 3em;
  font-size: 12px;
  color: #AFAFAF;
}

/* FOOTER */